.carrossel__titulo {
    color: var(--orange);
    background-color: var(--white);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0 0.5rem 0;

    font-size: 1.125rem;
    font-weight: 700;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    padding: .5em;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descrição__titulo {
    font-weight: 700;
    color: var(--orange);
}

.descrição__titulo-livro {
    font-size: 18px;
    font-weight: 700;
    color: #002F52;
    margin: .5em 0;
}

.descrição__texto {
    font-size: 14px;
}

.botoes__item {
    margin: 0 .2em;
}

.botoes__ancora {
    background-color: var(--orange);
    padding: 1em 2.2em;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
}

.descrição{
    margin-right: 2em;
}