.contato {
    background-color: var(--white);
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-weight: 500;
    font-size: 18px;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    background-color: transparent;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 24px;
    width: 90%;
    color: var(--blue-gradient);
}

.contato__email::placeholder {
    font-family: var(--font-poppins);
    color: var(--blue-gradient);
    background: url(../assets/Email.svg) no-repeat;
    padding: 0 0 0 2em;
    background-position: 0 -0.2em;
}