.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.cabecalho {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked~.lista-menu {
    display: block;
}