.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.cabecalho {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--white);
}

.lista-menu__titulo {
    color: var(--orange);
    font-weight: 400;
}

.lista-menu__link {
    text-decoration: none;
    color: #326589;
}

.titulo__alurabooks {
    display: none;
}

.nav {
    display: none;
}

@media screen and (min-width:1024px) {

    .titulo__alurabooks,
    .titulo__alurabooks-negrito {
        font-family: var(--font-josefin);
        font-size: 30px;
    }

    .titulo__alurabooks {
        font-weight: 300;
        display: block;
    }

    .titulo__alurabooks-negrito {
        font-weight: 700;
    }

    .nav {
        display: flex;
        gap: 2em;
    }

    .nav__link {
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .favoritos {
        display: none;
    }
}