.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url(../assets/Menu\ Aberto.svg);
}

.container__botao:checked~.container__rotulo {
    background: var(--blue-gradient);
}

.cabecalho {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--white);
}

.lista-menu__titulo {
    color: var(--orange);
    font-weight: 400;
}

.lista-menu__link {
    text-decoration: none;
    color: #326589;
}

.titulo__alurabooks {
    display: none;
}

.nav {
    display: none;
}

.container__texto {
    display: none;
}

.icones {
    margin-right: 1em;
}

@media screen and (min-width:1024px) {

    .titulo__alurabooks,
    .titulo__alurabooks-negrito {
        font-family: var(--font-josefin);
        font-size: 30px;
    }

    .titulo__alurabooks {
        font-weight: 300;
        display: block;
    }

    .titulo__alurabooks-negrito {
        font-weight: 700;
    }

    .nav {
        display: flex;
        gap: 2em;
    }

    .nav__link {
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .favoritos {
        display: none;
    }

    .nav__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .nav__botao {
        display: none;
    }

    .nav__botao:checked~.nav__rotulo>.nav__item {
        background: var(--blue-gradient);
        color: var(--white);
    }

    .nav__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--blue-gradient);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--white);
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        margin-right: 1em;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }

    .sacola,
    .usuario {
        margin: 0 1em;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .nav {
        margin: 0 auto 0 2em;
    }

    .container__texto {
        display: block;
    }
}